

/*fonts*/
/*@import url(https://fonts.googleapis.com/css?family=Lato);*/


/*global*/
.menu {
    background-color: #051b38;
}
section p {
    text-align: justify;
}
h2 {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 0.7rem;
}
/*global end*/

.video-section .pattern-overlay {
    background-color: rgba(5, 27, 56, 0.76);
    padding-top: 110px;
    min-height: 600px;
}
.video-section h1, .video-section h3{
    text-align:center;
    color:#fff;
}

.video-section h1{
    font-size: 7em;
    font-family: 'Buenard', serif;
    font-weight:bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #000;
    -webkit-text-shadow: 1px 1px 1px #000;
    -moz-text-shadow: 1px 1px 1px #000;
}

.video-section h3{
    font-size: 25px;
    font-weight:lighter;
}

.video-section .buttonBar{display:none;}
.player {font-size: 1px;}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

#nodejs .btn-outline {
    color: #051B38;
    border: solid 2px #051B38;
}

#github , #git, #nodejs{
    font-size: 1.2em;
    padding: 1%;
    padding-bottom: 5%;
}

#github {
    background-color: #051B38;
    color: #fafafa;
}

#github h1 {
    padding-top: 1%;
    font-size: 3em;
    color: #fff;
}

.referencia a{
    color: #83ffe6;
}


#git h1, #nodejs h1 {
    padding-top: 1%;
    font-size: 3em;
    color: #051B38;
    padding-bottom: 2%;
}

#git .item-section {
    right: 0;
    margin: 0 0 15px;
}

.item-section{
    margin-bottom: 4px;
}

a{
    color: #0056b3;
}

img{
    padding-bottom: 2px;
}

footer{
    background-color: #051B38;
    color: #fff;
    padding: 1%;
    font-size: 1.5em;
}


footer {
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
}
footer h2 {
    margin-top: 7%;
}
